<!--*******************************************************************
* 
* ET Marlabs CONFIDENTIAL
* __________________
* 
*  [2011] - [2015] ET Marlabs 
*  All Rights Reserved.
* 
* NOTICE:  All information contained herein is, and remains
* the property of ET Marlabs and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to ET Marlabs
* and its suppliers and may be covered Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reaccountion of this material
* is strictly forbidden unless prior written permission is obtained
* from ET Marlabs.
*
*-->
<!--**
* @author ET Marlabs
* @description This page is to override Scheme Condition (Edit,Delete) button
*-->

<apex:page showHeader="false" sidebar="false" standardController="Scheme_Condition__c">
<html>
    <head> 
        <script> 
            alert('{!JSENCODE($Label.RelatedListAlertMessage)}');
            window.open('/'+'{!JSENCODE(SandDV1__Scheme_Condition__c.SandDV1__Scheme__c)}','_self');
        </script>
    </head>
</html>
</apex:page>